body{
	background-color: grey;
	color: black;
	font-family: ariel,verdana,serif;
	font-size: 16px;
	margin: 0px;
	padding: 0px;
}

h1{
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0px;
	padding: 10px;
	
}

h2{
	font-size: 32px;
	font-weight: bold;
}
p{
	font-size: bold;
}

.panel p{
	font-size: 18px;
	text-align: justify;
}

.navbar{
	background-color: green !important;
	color: white !important;
	border-radius: 0px;
	font-size: 20px;
	line-height: 35px;
	margin: 0px;
	padding: 0px;
}
.navbar li a, .navbar .navbar-brand{
	color: #fff !important;
	font-size: 18px;
	line-height: 35px;
}
.navbar-nav li a:hover{
	color: yellow !important;
	background-color: skyblue !important;

}
.navbar-nav li.active a{
	background-color: skyblue !important;
}

.carousel-inner img{
	width: 100%;
}
.carousel-caption h3{
	color: #fff !important;
	font-size: 30px;
}
.panel .panel-heading{
	background-color: green!important;
}
h3{
	color: white !important;
}

